<div id = "container">
    <div class = "create_delete_change">
        <h3>Выберите действие</h3>
        <a href = "/create"  type="submit" class="btn find" > Добавить данные </a>
        <a href = "/delete"  type="submit" class="btn find"> Удалить данные </a>
        <a href = "/change" type="submit" class="btn find"> Изменить данные </a>
    </div> 
</div>