<div id = "container">
    <h1>Преподаватель найден:</h1>
    <div class="discription"> 
        <div class="name">Имя: </div> 
        <div> {{ name }} </div>
    </div>
    <div class="discription">
        <div class="name">Факультет: </div>
        <div> {{ faculty }} </div>
    </div>   
</div>